.btn {
  font-size: 12px;
  font-weight: 800;
  line-height: 62px;
  color: $text-white;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  background: 0 0;
  outline: none;

  border-radius: 64px;
  border: 1px solid $nav-bar;

  // sizing
  height: 64px;
  padding: 0 35px;
  overflow: hidden;

  @include flex(row, center, center);

  &:hover {
    color: $secondary;
    border: 1px solid $secondary;
  }
}