.btn {
  font-size: 12px;
  font-weight: 800;
  line-height: 62px;
  color: $text-white;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  background: 0 0;
  outline: none;

  border-radius: 64px;
  border: 1px solid $nav-bar;

  // sizing
  height: 64px;
  padding: 0 35px;
  overflow: hidden;

  @include flex(row, center, center);

  &:hover {
    color: $secondary;
    border: 1px solid $secondary;
  }
}

.btn-contact {
  width: 176px;
  min-height: 62px;
}


.btn-nav-menu {
  display: none;
  position: relative;
  order: 3;

  width: 64px;
  height: 64px;

  line-height: 62px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 8px;

  border-radius: 64px;
  border: 1px solid rgba(255, 255, 255, .7);

  .nav-menu-icon {
    background: $text-white;
    position: absolute;
    top: 50%;
    left: 25px;
    right: 25px;
    height: 2px;
    margin-top: -1px;

  }

  &::before {
    content: '';
    position: absolute;
    top: 22px;
    left: 20px;
    right: 20px;
    height: 2px;

    background: $text-white;
  }

  &::after {
    content: '';
    height: 2px;

    position: absolute;
    top: auto;
    left: 20px;
    right: 20px;
    bottom: 22px;

    background: $text-white;
  }
}

.btn-close {
  @include flex(row, center, center);
  transition: all .3s ease 0s;

  border: solid 1px $text-white;
  border-radius: 64px;

  position: absolute;
  right: 0;

  width: 64px;
  height: 64px;
  line-height: 62px;
  padding: 20px;

  &:hover {
    color: $text-white;
    border: 1px solid $text-white;
  }

  &::before {
    opacity: 0;
    content: '';
    position: absolute;
    top: 22px;
    left: 20px;
    right: 20px;
    height: 2px;
    background: $text-white;
  }

  span {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: rotate(45deg);

    height: 2px;
    margin-top: -1px;
    background: $text-white;
  }


  &::after {
    content: '';
    height: 2px;

    position: absolute;
    bottom: 30px;
    top: auto;
    left: 20px;
    right: 20px;

    transform: rotate(-45deg);
    background: $text-white;
  }
}