// Branding
$primary: #373b40; // Dark shade of cyan-blue.
$secondary: #68e0cf; // Medium light shade of cyan

// Typography
$text-white: #fff;

// Layout
$nav-bar: #585d65;


// Possible alternate colours
// #2A2D31; <--- possible alternate color for bg
// #5ADCC4; alternate teal color