// Mixin for modifying the placeholder text on inputs to customize our UI
@mixin placeholder-color($color, $weight, $alignment) {
  &.placeholder {
    color: $color;
    font-weight: $weight;
    text-align: $alignment;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $color;
    font-weight: $weight;
    text-align: $alignment;
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    color: $color;
    font-weight: $weight;
    text-align: $alignment;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-weight: $weight;
    text-align: $alignment;
  }
}

.resource-form,
form {
  @include flex(column, center, center);

  width: 100%;

  fieldset {
    width: 100%;
    position: relative;
    margin-bottom: 40px;

    label {
      padding: 0 10px;
      position: absolute;
      left: 35px;
      top: -5px;
      font-size: 12px;
      line-height: 12px;
      color: $text-white;
      font-weight: 800;
      background: $primary;
      text-transform: uppercase;
      z-index: 2;

      strong {
        color: $secondary;
      }
    }

    .field {
      margin: 0;

      input[type="text"],
      input[type="password"],
      input[type="email"],
      input[type="tel"],
      input[type="number"],
      input[type="datetime-local"],
      textarea {
        display: block;

        height: 64px;
        width: 100%;

        color: $text-white;
        font-size: 14px;

        background: 0 0 !important;
        resize: none;

        border: 1px solid $nav-bar !important;
        border-radius: 30px;
        padding: 0 30px;

        transition: all .3s ease 0s;
      }

      textarea {
        height: 170px;
        padding-top: 30px;
        padding-bottom: 30px;
        resize: none;
      }

      .btn-submit {
        width: 100%;
      }
    }
  }
}