// Global generic styles



// Positioning
@mixin vertical-middle-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


// Media Query Ranges
$extra-small-screen-up: 361px !default;
$small-screen-up: 721px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;

$extra-small-screen-down: 360px !default;
$small-screen-down: 720px !default;
$medium-screen-down: 992px !default;
$large-screendown: 1200px !default;


$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen-down})" !default;
$extra-small-and-down: "only screen and (max-width : #{$extra-small-screen-down})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen-down})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen-down})" !default;



// Classes to HIDE elements
.display-none {
  display: none !important;
}

.only-small {
  display: none !important;

  @media #{$small-and-down} {
    display: initial !important;
  }
}

.hide-small {
  @media #{$small-and-down} {
    display: none;
  }
}

p {
  margin: 20px 0;
}