#footer {
  height: auto;
  width: 100%;

  margin: 0 0 40px;
  padding: 0;

  position: relative;
  right: 0;
  bottom: auto;

  z-index: 99;

  &:before {
    content: '';
    position: absolute;
    background: $nav-bar;

    top: 50%;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
  }


  .footer-content {
    .footer-icons {
      bottom: 0;
      margin-left: 0;
      position: relative;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 1;

    }
  }


}

.footer-cp-text {
  font-size: 10px;
  margin-left: 7px;
}