* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;

  background-color: $primary;
}

body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

.container {
  margin: 0;
  width: 100%;
  position: relative;

  background-color: $primary;
}

.container-home-page {
  @media #{$large-and-up} {
    // add the layout spacing for the full screen version
    position: relative;
    margin: 50px 92px 0 24%;
    width: 70%;
  }
}

.section {
  transition: all .3s ease 0s;

  margin-top: 150px;
  padding: 50px 30px;

  .titles {
    margin: 0 0 60px;

    .title {
      @include section-header-text;
      text-align: center;

      @media #{$medium-and-up} {
        text-align: unset;
        margin: 0 0 10px;
        max-width: 70%;
        font-size: 55px;
        line-height: 1.2;
      }
    }

    .subtitle {
      @include subtitle-base;

      @media #{$medium-and-up} {
        text-align: unset;
      }
    }
  }

  .subtitle {
    @include subtitle-base;
  }
}

.section-home-page {
  margin: 0;
  border-bottom: 1px solid $nav-bar;

  @media #{$large-and-up} {
    margin-right: 25px;
    margin-left: 25px;
  }

  @media #{$fullscreen-and-up} {
    margin-left: 30%;
  }
}

.section-posts {
  @include flex(column, null, null);
  // height: calc(100vh - 50px);

  table {
    align-self: center;
    // flex-grow: 1;
  }
}