* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;

  background-color: $primary;
}

body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

.container {
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $primary;

  @media #{$large-and-up} {
    // add the layout spacing for the full screen version
    position: relative;
    margin: 50px 92px 0 24%;
    width: 70%;
  }
}

.section {
  border-bottom: 1px solid $nav-bar;
  padding: 50px 30px;
  transition: all .3s ease 0s;

  .titles {
    margin: 0 0 60px;

    .title {
      @include section-header-text;
      text-align: center;

      @media #{$medium-only} {
        text-align: unset;
        margin: 0 0 10px;
        max-width: 70%;
        font-size: 55px;
        line-height: 1.2;
      }
    }

    .subtitle {
      @include subtitle-base;

      @media #{$medium-only} {
        text-align: unset;
      }
    }
  }

  .subtitle {
    @include subtitle-base;
  }
}