.navbar {
  @include flex(row, flex-end, center);
  justify-content: space-between;

  height: 80px;
  width: 100%;
  padding: 0 30px;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  background-color: $nav-bar;
  z-index: 999;


  a {
    display: block;
    margin: 0 5px;
    line-height: 1.2;
    font-weight: 800;
  }


  .nav-bar-logo {
    width: 200px;
    height: 80px;
    display: flex;
    font-size: 30px;

    align-items: center;
  }

  ul.nav-links {
    @include flex(row, flex-end, center);

    .nav-link {
      a {
        text-transform: capitalize;
      }
    }
  }
}

#mobile-navbar {

  #top-menu {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $nav-bar;
    overflow-x: hidden;
    transition: 0.5s;

    .btn-close {
      margin: 20px;
    }

    .nav-links {
      flex-direction: column;

      position: relative;
      top: 25%;

      width: 100%;

      .nav-link {
        font-size: 40px;
        margin: 10px 0;
      }
    }
  }
}

#large-navbar {
  display: none;

  @media #{$large-and-up} {
    width: calc(100% - 90px);

    position: fixed;
    left: 50px;
    right: 50px;
    top: 40px;

    padding-left: 20px;
    border-radius: 80px;

    justify-content: flex-start;
  }




  .nav-bar-logo {
    @media #{$large-and-up} {
      justify-content: center;
      max-width: 160px;
    }
  }

  ul.nav-links {

    @media #{$large-and-up} {
      width: 100%;
      height: 100%;

      justify-content: flex-start;
    }

    .nav-link {
      a {
        @media #{$large-and-up} {
          margin-left: 25px;
        }
      }
    }
  }


  // #top-menu {
  //   width: 0px;

  //   ul {
  //     position: relative;
  //     top: 0;
  //     left: 0;
  //     margin-top: 0;
  //     margin-left: 0;
  //     margin-right: 0;
  //     float: none;
  //     width: auto;
  //     height: 0;
  //     text-align: center;
  //     opacity: 0;
  //     visibility: hidden;
  //     transition: opacity .35s;


  //     @media #{$medium-and-down} {
  //       overflow: hidden;
  //       padding-top: 30px;
  //       clear: both;
  //     }
  //   }
  // }

  // .active {
  //   overflow-y: scroll;
  //   height: 100%;
  //   width: 100%;
  //   padding: 0 30px;
  //   left: 0;
  //   right: 0;

  //   #top-menu {
  //     padding-top: 30px;
  //     clear: both;
  //     height: auto;
  //     opacity: 1;
  //     visibility: visible;
  //     overflow: hidden;
  //   }
  // }
}