#navbar {
  height: 80px;
  width: 100%;
  padding: 0 30px;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;


  background-color: $nav-bar;
  z-index: 999;

  @include flex(row, flex-end, center);
  justify-content: space-between;

  @media #{$large-and-up} {
    width: calc(100% - 90px);

    position: fixed;
    left: 50px;
    right: 50px;
    top: 40px;

    padding-left: 20px;
    border-radius: 80px;

    justify-content: flex-start;
  }

  a {
    display: block;
    margin: 0 5px;
    line-height: 1.2;
    font-weight: 800;
  }


  .nav-bar-logo {
    width: 200px;
    height: 80px;
    display: flex;
    font-size: 30px;

    align-items: center;

    @media #{$large-and-up} {
      justify-content: center;
      max-width: 160px;
    }
  }

  ul {
    @include flex(row, flex-end, center);

    .nav-link {
      a {
        @media #{$large-and-up} {
          margin-left: 25px;
        }
      }
    }
  }


}