<%# TODO: REFACTOR THIS TO A BACKEND QUERY %>
<% dev_skills = [
    { name:"Ruby on Rails, PSQL", text:"Rich experience with Ruby, RoR and PSQL every day since 2017."},
    { name:"React", text:" Work with React daily since 2017. (Apollo, GraphQL, React Native, GatsbyJS) "},
    { name:"Full-stack Javascript", text:"Next.js, Mongo, Express, React Node (MERN Stack), Gatsby"},
    { name:"API Design (REST/GraphQL)", text:"Building scalable internal/external APIs in Ruby, javascript or Python"},
    { name:"Automated testing", text:"CircleCi, TravisCi, Rspec, MiniTest, Jest, Enzyme, React Testing Library"},
    { name:"Object Oriented Design", text:"Design and develop software system that are easy to maintain and extend over time"},
    { name:"Cloud Services", text:"AWS, Google Cloud, Heroku, Oauth, SaaS integrations, Azure"},
    { name:"Python, Django", text:"Building scalape application on web and internal with Python/Django"},
    { name:"HTML, CSS", text:"Work daily with Sass, server rendered templates, client side rendered HTML"},
  ] %>
<%# Dev Skills Items %>
<div id="dev-skill-items">
  <% dev_skills.each do |skill| %>
    <div class="list-item">
      <div class="item-name"><span><%= skill[:name] %></span></div>
      <div class="item-text">
        <p><%= skill[:text] %></p>
      </div>
    </div>
  <% end %>
</div>
