<%# TODO: REFACTOR THIS TO A BACKEND QUERY %>
<% education = [
    { date:'2018', name:"Bitmaker Labs - General Assembly", text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque."},

    { date:'2017', name:"Bitmaker Labs - General Assembly", text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque."},
    { date:'2008', name:"ADR Institure of Ontario", text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque."},
    { date:'2006', name:"Humber College", text:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque."},
  ] %>
<%# Resume Items %>
<div id="education-items">
    <% education.each do |job| %>
    <div class="list-item">
        <div class="item-header">
            <div class="item-date"><span><%= job[:date] %></span></div>
            <div class="item-name"><span><%= job[:name] %></span></div>
        </div>
        <div class="item-text">
            <p><%= job[:text] %></p>
        </div>
    </div>
    <% end %>
</div>