<section class="section section-home-page" id="education">
        <div class="titles">
            <div class="title">Education</div>
            <div class="subtitle">Studied At
            </div>
        </div>
        <p>
            Having studied Full-Stack Web Development and UI/UX Design, understanding of both front and back end development gives me a different perspective of the project from both sides. It is this knowledge that drives me to develop a keen eye for design while still thinking critical of the project implementation.
        </p>
        <%= render('education_content') %>
        <%# Nav link anchorpoint %>
        <span id="portfolio-nav-anchor"></span>
    </section>