<%# TODO: REFACTOR THIS TO A BACKEND QUERY %>
<% resume = [
    {date:'Present', name:"General Assembly", text:"As lead instructor for Software Engineering Immersive Flex program, I Adapt a global curriculum and manage a team of Teaching Assistants. Act as a better leader, mentor to inspire and supports strudents"},

    {date:'Present', name:"International Safety Systems", text:'As senior full stack developer I design features and UI for their custom built E-Commerce, ERP and API platform. I am also manage a remote software team while developing a powerful, maintainable, scalable web and Native applications.'},

    {date:'2018-2019', name:'University of Toronto, SCS', text:'Teaching, assisting, and grading a diverse class of students at UoT SCS Web Development Bootcamp. Maintain and update curriculum based on industry changes.'},

    {date:'2017', name:'Bayshore HealthCare', text:'Working in risk management to create efficient excel reporting tools driven by large pools of data. Integrated data driven processes for robust risk analysis of complex and high risk accounts.'},

    {date:'2012-2017', name:'Automotive Resources International', text:'In the accounting and supply chain management space, I was tasked with finding efficiencies in processes through big data driven research.'},

    {date: '2005-2012', name:'Wells Fargo Financial', text:'Under loss mitigation I Created analytical tools to help evaluate the ROI and exposure of a given litigation on credit default customers'}
  ] %>
<%# Resume Items %>
<div id="resume-items">
    <% resume.each do |job| %>
    <div class="list-item">
        <div class="item-header">
            <div class="item-date"><span><%= job[:date] %></span></div>
            <div class="item-name"><span><%= job[:name] %></span></div>
        </div>
        <div class="item-text">
            <p><%= job[:text] %></p>
        </div>
    </div>
    <% end %>
</div>