<%# TODO: REFACTOR THIS TO A BACKEND QUERY %>
<% languages = [
    { name:"English", text:"English is my native language."},
    { name:"Spanish", text:"Spanish is at native level"},
    { name:"Russian", text:"My Russian is good"},

  ] %>
<%# Languages %>
<div id="language-items">
  <% languages.each do |lang| %>
    <div class="list-item">
      <div class="item-name"><span><%= lang[:name] %></span></div>

    </div>
  <% end %>
</div>
