<section class="section" id="contact-page">
    <div class="titles">
        <h1 class="intro-name title">Contact Me</h1>
        <div class="subtitle">Get in touch!</div>
    </div>
    <br>
    <div class="card-round-outline">
        <%= render "pages/contact_info", display_name: true%>
    </div>
</section>