<section class="section" id="contact-page">
  <h1 class="intro-name title">Get in touch!</h1>
  <br>
  <div class="card-round-outline">
    <%= render "pages/contact_info", display_name: true%>
  </div>
</section>
