<div id="home-page">
  <%# Splash Screen %>
  <section class="section" id="spash-picture"></section>
  <%# About Me %>
  <%# Experience %>
  <%# Skills - programming %>
  <%# Spoken Languages %>
  <%# Portfolio %>
  <%# Contact %>
</div>
