<div id="home-page">
  <%# Splash Screen %>
  <section id="spash-picture"></section>
  <%# Intro %>
  <section class="section" id="intro">
    <h1 class="intro-name title">
      <span>
        Denis <br>
        S. Dujota
      </span>
    </h1>
    <div class="subtitles">
      <span class="subtitle">Software Developer</span>
      <span class="subtitle">Mentor</span>
      <span class="subtitle">Consultant</span>
      <span class="subtitle">Web Designer</span>
    </div>
    <p class="intro-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur quod ab iusto sint magni deleniti, harum esse corporis distinctio, officia odio necessitatibus sunt porro adipisci.</p>
    <button class="btn btn-contact">Contact Me</button>
  </section>
  <%# About Me %>
  <section class="section" id="about">
    <div class="title">About</div>
    <div class="subtitle">my story</div>
  </section>
  <%# Experience %>
  <section class="section" id="experience">
    <div class="title">Experience</div>
    <div class="subtitle">what i have done</div>
  </section>
  <%# Skills - programming %>
  <section class="section" id="skills">
    <div class="title">Diverse Skills</div>
    <div class="subtitle">programming with</div>
  </section>
  <%# Spoken Languages %>
  <section class="section" id="languages">
    <div class="title">Spoken Languages</div>
    <div class="subtitle">reading and writing</div>
  </section>
  <%# Portfolio %>
  <section class="section" id="portfolio">
    <div class="title">Portfolio</div>
    <div class="subtitle">Latest Work</div>
  </section>
  <%# Contact %>
  <section class="section" id="contact">
    <div class="title">Contact Me</div>
    <div class="subtitle">Let's Talk</div>
  </section>
</div>
