<div id="home-page">
  <%# Splash Screen %>
  <section id="spash-picture"></section>
  <%# Intro %>
  <section class="section" id="intro">Intro </section>
  <%# About Me %>
  <section class="section" id="about">About</section>
  <%# Experience %>
  <section class="section" id="experience">Experience</section>
  <%# Skills - programming %>
  <section class="section" id="skills">Skills</section>
  <%# Spoken Languages %>
  <section class="section" id="languages">Spoken Languages</section>
  <%# Portfolio %>
  <section class="section" id="portfolio">Portfolio</section>
  <%# Contact %>
  <section class="section" id="contact">Contact Me</section>
</div>
