<div style="font-family:'Arial', sans-serif;">
    <h2>Inquiry:</h2>

    <p>
        <strong>Full Name:</strong><%= @inquiry.name %>
    </p>
    <p>
        <strong>Email:</strong><%= @inquiry.email %>
    </p>

    <% if @inquiry.phone_number.present? %>
    <p>
        <strong>Phone Number:</strong><%= @inquiry.phone_number %>
    </p>
    <% end %>

    <strong>Message:</strong>
    <hr>
    <p>
        <%= sanitize @inquiry.message %>
    </p>

    <hr>
</div>