<section class="section section-posts">
  <div class="titles">
    <h1 class="intro-name title">My Blog</h1>
    <div class="subtitle">most current tips and tutorials plus some random news</div>
  </div>
  <%= render partial: "post_action_links" %>
  <table>
    <tr class="table-headings">
      <th>Title</th>
      <th>Body</th>
    </tr>
    <%# Post partial render %>
    <%= render partial: "post", collection: @posts %>
  </table>
  <%= render partial: "post_action_links" %>
</section>
