<h1>Blog index</h1>

<%= link_to "Create new Blog Post", new_post_path %>

<% @posts.each do |post| %>
  <div>
    <p>
      <strong> <%= post.title %> </strong>
      <%= link_to "Read More", post_path(post) %>
    </p>
  </div>
<% end %>

