<h1>Blog index</h1>
<% if admin? %>
  <%= link_to "Create new Blog Post", new_admin_post_path %>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <%# Post partial render %>
  <%= render partial: "post", collection: @posts %>
</table>
