<nav class="navbar" id="mobile-navbar">
  <%= render partial: 'layouts/navbar/logo' %>
  <a href="" class="btn-nav-menu"><span class='nav-menu-icon'></span></a>
  <%= render partial: 'layouts/navbar/top_menu' %>
</nav>
