<nav class="navbar" id="mobile-navbar">
  <%= link_to "Logo", root_path, class: 'nav-bar-logo'%>
  <a href="" class="btn-nav-menu"><span class='nav-menu-icon'></span></a>
  <%= render partial: 'layouts/navbar/side_menu' %>
</nav>
