<ul class="nav-links public-home-nav">
  <li class='nav-link'>
    <a href="#about-nav-anchor">about</a>
  </li>
  <li class='nav-link'>
    <a href="#resume-nav-anchor">resume</a>
  </li>
  <li class='nav-link'>
    <a href="#portfolio-nav-anchor">portfolio</a>
  </li>
  <!--  <li class='nav-link'>
    <%# link_to "Posts", posts_path %>
  </li>
  -->
  <li class='nav-link'>
    <a href="#contact-nav-anchor">contact</a>
  </li>
</ul>
