<div id="side-menu">
  <% if admin? %>
    <%= render partial: 'layouts/navbar/admin_navbar' %>
  <% else %>
    <% if params[:action] == 'home' %>
      <%= render partial:'layouts/navbar/public_home_navbar' %>
    <% else %>
      <%= render partial:'layouts/navbar/public_general_navbar' %>
    <% end %>
  <% end %>
</div>
