<footer id="footer">
    <div class="footer-content">
        <div class="footer-icons">
            <a href="#home-page" class="icon-link footer-icon-link">
                <i class="fas fa-home"></i>
            </a>
            <a href="https://www.linkedin.com/in/dujota/" class="icon-link footer-icon-link" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Dujota" class="icon-link footer-icon-link" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </div>
</footer>
<div class="footer-cp-text">© 2021 Denis S. Dujota all right reserved.</div>




