.contact-info {
  padding: 30px;


  .contact-info-heading {
    .contact-name {
      margin-bottom: 5px;
      font-size: 24px;
      text-transform: capitalize;
    }

    .contact-title {
      text-transform: uppercase;
    }
  }

  .contact-details-list {
    margin: 35px 0;

    ul {
      @include flex(column, null, center);

      li {
        font-weight: 600;
        margin-bottom: 6px;
        text-align: left;

        width: 300px;

        strong {
          margin-right: 8px;
        }
      }
    }
  }
}