.contact-info {
  padding: 30px;


  .contact-info-heading {
    .contact-name {
      margin-bottom: 5px;
      font-size: 24px;
      text-transform: capitalize;
    }

    .contact-title {
      text-transform: uppercase;
    }
  }

  .contact-details-list {
    margin: 35px 0;

    ul {
      @media #{$medium-only} {
        @include flex(row, space-between, start);
        @include flex-wrap(wrap)
      }

      li {
        font-weight: 600;
        margin-bottom: 6px;

        @media #{$medium-only} {
          margin: 0 0 6px;
          // padding: 0 20px;
          width: 47%;
          font-size: 14px;
          display: inline-block;
        }

        strong {
          margin-right: 8px;

          @media #{$medium-only} {
            width: 90px;
            font-weight: 600;
          }
        }
      }
    }
  }
}