#home-page {

  #spash-picture {
    height: 450px;
    background-color: $secondary;
  }

  #intro {
    // height: 385px;
    @include flex(column, null, center);
    text-align: center;
    padding: 0px 50px 50px 50px;

    .intro-name {
      font-size: 40px;
      line-height: 1.4;
      word-break: break-word;
      word-wrap: break-word;

      width: auto;
      margin-top: -150px;
      margin-bottom: -55px;
      padding: 70px 90px;
      border-radius: 360px 360px 0 0;

      background-color: $primary;
    }

    .subtitles {
      margin-bottom: 30px;

      .subtitle {
        border-right: 1px solid $secondary;
        padding-right: 5px;

        &:last-child {
          padding-right: 0px;
          border-right: none;
        }
      }
    }

    .intro-text {
      margin-top: 0px;
    }
  }

  #about {
    .contact-info {
      padding: 0;

      .contact-details-list {
        margin-bottom: 0;
      }
    }
  }

  #contact {
    .contact-info {
      .contact-info-heading {
        text-align: center;
      }
    }
  }
}