.container {
  #home-page {
    .section {
      &:last-child {
        border-bottom: none;
      }
    }

    #spash-picture {
      height: 400px;
      background-color: $secondary;

      @media #{$medium-and-up} {
        width: 100%;
        height: 70vh;
      }

      @media #{$large-and-up} {
        width: 24%;
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        height: 100%;
      }

      @media #{$fullscreen-and-up} {
        width: 45%;
      }
    }

    #intro {
      height: 385px;
      @include flex(column, null, center);

      text-align: center;
      padding: 0px 50px 50px 50px;

      @media #{$medium-and-up} {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-bottom: 70px;
        margin: 0;
      }

      @media #{$large-and-up} {
        text-align: left;
        height: 740px;

        .btn.btn-contact {
          align-self: flex-start;
        }
      }


      @media #{$fullscreen-and-up} {
        width: 70%;
        margin-left: 30%;
      }

      @media #{$widescreen-and-up} {
        height: auto;
      }

      .intro-name {
        @include section-header-text;
        font-size: 40px;
        line-height: 1.4;
        text-align: center;


        width: auto;
        margin-top: -140px;
        margin-bottom: -55px;
        padding: 70px 90px;
        border-radius: 360px 360px 0 0;

        background-color: $primary;

        @media #{$medium-and-up} {
          margin: 0 auto;
          margin-top: -200px;
          padding: 70px 35px 30px;
          width: 480px;
          font-size: 60px;
        }

        @media #{$large-and-up} {
          width: auto;
          margin: 250px 0 0 -37vw;
          padding: 4.2vw;
          font-size: 4.2vw;
          line-height: 1.4;
          font-weight: 800;
          border-radius: 264px;
          z-index: 111;

          span {
            margin-right: 300px;
          }
        }

        @media #{$fullscreen-and-up} {
          margin: 125px 0 0 -26vw;
        }
      }

      .intro-content {
        .subtitles {
          @include subtitle-base;
          margin-bottom: 10px;

          @media #{$medium-and-up} {
            margin-bottom: 30px;
          }

          @media #{$large-and-up} {
            text-align: left;
          }

          .subtitle {
            border-right: 1px solid $secondary;
            padding-right: 5px;

            &:last-child {
              padding-right: 0px;
              border-right: none;
            }
          }
        }

        .intro-text {
          margin-top: 0px;

          @media #{$medium-and-up} {
            margin: 0 0 30px;

          }
        }
      }
    }

    #about {
      @media #{$large-and-up} {
        .titles {
          margin-top: 30px;
        }
      }

      .contact-info {
        padding: 0;

        ul {
          @media #{$medium-and-up} {
            @include flex(row, space-between, start);
            @include flex-wrap(wrap)
          }

          li {
            @media #{$medium-and-up} {
              margin: 0 0 6px;

              width: 47%;
              font-size: 14px;
              display: inline-block;
            }

            strong {
              @media #{$medium-and-up} {
                width: 90px;
                font-weight: 600;
              }
            }
          }
        }

        .contact-details-list {
          margin-bottom: 0;
        }
      }
    }

    #portfolio,
    #skills {
      margin-top: 50px;
    }

    #contact {
      .contact-info {
        .contact-info-heading {
          text-align: center;
        }
      }
    }
  }
}