#home-page {

  #spash-picture {
    height: 450px;
    background-color: $secondary;
  }

  #intro {
    // height: 385px;
    @include flex(column, null, center);
    text-align: center;

    .intro-name {
      line-height: 1.4;
    }

    .subtitles {
      .subtitle {
        border-right: 1px solid $secondary;
        padding-right: 5px;

        &:last-child {
          padding-right: 0px;
          border-right: none;
        }
      }
    }
  }

  #about {
    .contact-info {
      padding: 0;

      .contact-details-list {
        margin-bottom: 0;
      }
    }
  }

  #contact {
    .contact-info {
      // @include flex(column, null, center);
      min-height: 400px;
      border-radius: 30px;
      border: 1px solid $nav-bar;

      .contact-info-heading {
        text-align: center;
      }
    }
  }
}