#portfolio-items {
  text-align: center;

  @media #{$medium-and-up} {
    @include flex(row, space-between, null);
    @include flex-wrap(wrap)
  }

  .list-item {
    margin-bottom: 50px;

    @media #{$medium-and-up} {
      width: 47%;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    a {
      display: block;
      color: $text-white;
      outline: none;
      text-decoration: none;

      .item-image {
        width: 100%;
        height: 290px;


        @media #{$medium-and-up} {
          height: 250px;

          // force the even box shape
          &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
        }

        &:hover {
          background-color: $secondary;
        }
      }

      .item-name {
        // height: 50px;
      }

      .item-category {
        text-transform: uppercase;
      }

      &:hover {
        color: $secondary;
      }
    }
  }
}